<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{DEFAULT} [%thread] %level %logger - %msg%n"/>
        </Console>
        <RollingFile name="fileAppender"
                     filename="../logs/app.log"
                     filePattern="../logs/app-%date{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%date{DEFAULT} [%thread] %level %location: %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <root level="debug">
            <appender-ref ref="console"/>
        </root>
        <logger name="com.codve" level="trace" additivity="false">
            <appender-ref ref="fileAppender"/>
            <appender-ref ref="console"/>
        </logger>
    </Loggers>
</Configuration>